@use 'base/variables' as v;
@use 'base/mixins' as m;

.barra {
	display: none;

	@include m.tablet2 {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__nombre {
		color: v.$blanco;
		font-weight: 900;
		border-radius: 1rem;
		margin: 0;
		text-shadow: 1px 2px 10px v.$secundario;
		transition-property: color text-shadow;
		transition-duration: .3s;

		&:hover {
			color: v.$primario;
			text-shadow: 2px 1px 4px v.$negro;
		}
	}

	&__navegacion {
		@include m.tablet {
			display: flex;
			gap: 4rem;
		}
	}
	
	&__link {
		color: v.$blanco;
		text-shadow: 1px 1px 10px v.$negro;
		transition-property: color;
		transition-duration: .3s;
		border-bottom: 5px solid transparent;

		&:hover {
			color: v.$secundario;
			text-shadow: 1px 1px 10px v.$primario;
			border-bottom: 5px solid v.$primario;
		}
	}
}