@use 'base/variables' as v;
@use 'base/mixins' as m;

.header {
	background-image: url(../img/header.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 3rem 0 20rem 0;

	&__busqueda {
		margin-top: 5rem;
		text-align: center;
		
		@include m.tablet {
			margin-top: 30rem;
		}

		&-boton {
			@include m.boton(v.$blanco, v.$primario);
			transition-property: box-shadow;
			transition-duration: .3s;

			&:hover {
				box-shadow: 0px 6px 20px rgb(255 255 255 / 40%);
			}
		}
	}
}