// Fuentes
$fuente_principal: 'Lexend', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$telefono2: 540px;
$tablet: 768px;
$tablet2: 912px;
$desktop: 1024px;
$desktop2: 1440px;

// Colores
$primario: #e8505b;
$secundario: rgb(189, 30, 89); 
$negro: #000;
$blanco: #FFFFFF;
$gris: #686868;
$grisClaro: #e1e1e1;

$separacion: 5rem;
