@use 'base/variables' as v;
@use 'base/mixins' as m;

.anfitrion {
	color: v.$blanco;
	border-radius: 1rem;
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	row-gap: 10rem;
	padding: 5rem;
	background-image: linear-gradient(to bottom, v.$negro 0%, v.$negro 50%, transparent 50%), url(../img/anfitrion.jpg);
	background-size: 100%, 62rem;
	background-position: center, center bottom;
	background-repeat: no-repeat;

	@include m.telefono {		
		background-size: 100%, 74rem;
		background-position: center, center 200%;
	}

	@include m.telefono2 {
		background-size: 100%, 68rem;
	}

	@include m.tablet {
		grid-template-rows: unset;
		background-image: linear-gradient(to right, v.$negro 0%, v.$negro 45%, transparent 55%), url(../img/anfitrion.jpg);
		background-size: 100%, auto;
		background-position: center, 20% 20%;
		padding: 15rem 5rem;
	}

	@include m.tablet2 {
		background-position: center, -40% 20%;
	}

	@include m.desktop {
		background-position: center, 100% 20%;
	}

	@include m.desktop2 {
		background-position: center, right 20%;
	}

	&__contenido {
		@include m.tablet {
			max-width: 50%;
		}
	}

	&__texto {
		color: v.$blanco;
	}

	&__enlace {
		@include m.boton(v.$blanco, v.$negro);
		border-radius: 1rem;
		padding-top: 1rem;
		padding-bottom: 1rem;
		text-align: center;
		transition-property: box-shadow;
		transition-duration: .3s;

		&:hover {
			box-shadow: 0px 6px 20px rgb(255 255 255 / 40%);
		}
	}
}