@use 'base/variables' as v;
@use 'base/mixins' as m;

.footer {
	background-color: lighten(v.$grisClaro, 7%);
	border-top: 1px solid lighten(v.$gris, 40%);
	padding-top: 5rem;
	text-align: center;

	&__grid {
		@include m.tablet {
			@include m.grid(2, 2rem);
			justify-items: center;
			justify-content: center;
		}

		@include m.desktop {
			@include m.grid(4, 2rem);
		}
	}

	&__widget {
		@include m.tablet {
			width: 25rem;
		}

		@include m.desktop {
			width: 100%;
		}
	}

	&__heading {
		text-transform: uppercase;
		font-size: 1.2rem;
	}

	&__enlace {
		display: block;
		color: v.$gris;
		font-size: 1.4rem;
		margin-bottom: 1rem;
		padding: 1rem;
		transition-property: background-color;
		transition-duration: .3s;

		&:hover {
			background-color: v.$grisClaro;
			border-radius: 2rem;
		}
	}

	&__barra {
		display: flex;
		flex-direction: column-reverse;
		border-top: 1px solid lighten(v.$gris, 40%);
		margin-top: 2rem;
		padding: 2rem 0;

		@include m.desktop {
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}
	}

	&__copyright {
		border-top: 1px solid lighten(v.$gris, 40%);
		padding: 2rem 0 0 0;
		font-size: 1.4rem;
		color: v.$gris;
		margin: 0;

		@include m.desktop {
			border-top: none;
			padding-top: 0;
		}
	}
	
	&__barranav {
		display: flex;
		flex-direction: column;
		margin-bottom: 1rem;

		@include m.tablet {
			flex-direction: row;
			justify-content: space-between;
		}

		@include m.desktop {
			margin-bottom: 0;
			gap: 2rem;
		}
	}

	&__enlace--barra {
		@include m.desktop {
			margin-bottom: 0;
		}

		&::before {
			content: ' - ';
			margin-right: .5rem;
		}
	}
}
